@inherits TestComponentCode

<select @onchange="CustomerSelected" size="4" style="width: 100%">
    @foreach (var customer in Customers)
    {
        <option value="@customer.CustomerId">@customer.Name</option>
    }
</select>

<br />

Add Customer:
<br />
<input @bind="@NewCustomerName" />
<button class="btn btn-primary" @onclick="CustomerAdding">Add</button>
<br />


@if (SelectedCustomer != null)
{
    @*<span class="text-danger mb-4">Customer @SelectedCustomer.Name &nbsp; Selected with CustomerId @SelectedCustomer.CustomerId</span>
        <br />*@
    <div class="p-3" style="background-color: lightgray">
        <input @bind="@SelectedCustomer.Name" @bind:event="oninput" />
        <button class="btn btn-warning" @onclick="ResetButtonClicked">Reset</button>
        <button class="btn btn-secondary" @onclick="UpdateButtonClicked">Update</button>
        <button class="btn btn-danger" @onclick="DeleteButtonClicked">Delete</button>
    </div>
}

