@inherits TestComponentCode

    <select @onchange="CustomerSelected" size="4" style="width: 100%">
        @foreach (var customer in @Customers)
        {
            if (SelectedCustomer != null && customer.CustomerId == SelectedCustomer.CustomerId)
            {
                <option selected value="@customer.CustomerId.ToString()">@customer.Name</option>
            }
            else
            {
                <option value="@customer.CustomerId.ToString()">@customer.Name</option>
            }
        }
    </select>

<br />

<button class="btn btn-secondary" type="button"  @onclick="CustomerAdding">Add Customer</button>
<br />


@if (SelectedCustomer != null)
{
    <div class="p-3" style="background-color: lightgray">

        <EditForm Model="@SelectedCustomer" OnValidSubmit="@UpdateButtonClicked">
            <DataAnnotationsValidator />
            <ValidationSummary />


            Name:
            <InstantInput id="name" @bind-Value="@SelectedCustomer.Name" />

            <br /><br />

            Email:
            <InstantInput id="email" @bind-Value="@SelectedCustomer.Email" />
            
            <br /><br />


            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-warning" type="button" @onclick="ResetButtonClicked">Reset</button>
            <button class="btn btn-danger" type="button" @onclick="DeleteButtonClicked">Delete</button>

        </EditForm>

        
    </div>
}

